@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* App */
.App {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

/* Sidebar */
.Sidebar {


  width: 300px;
  min-width: 210px;
  height: 100%;

}

.Sidebar .showHide {
  display: none;
}

@media(max-width: 750px) {
  .Sidebar {
    flex: 0 0 0%;
    width: 300px;
    min-width: 0px;
    height: 100%;
    transition: 0.5s ease-in-out;

  }

  .Sidebar .showHide {
    display: inline-block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 5%;
    right: 10px;
    background-color: #0080ff;
    border-radius: 50%;
    z-index: 101;
    transition: 0.5s ease-in-out;
  }

  .Sidebar .showHide.open {
    display: inline-block;
    width: 400px;
    height: 40px;
    position: absolute;
    left: 25px;
    background-color: #0080ff;
    border-radius: 4px;
    z-index: 101;
  }

  .Sidebar.visible {
    background-color: #acffac;
    flex: 0 0 100%;
    width: 700px;
  }

  .Main .title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    width: 100%;
  }


  .Main .title .bold {
    color: white;
    font-size: 46px;
    font-size: 10vw;
    letter-spacing: 15px;
    text-shadow: 1px 0 black;
    border: 5px solid black;
    font-family: 'Righteous', cursive;
  }

  .Main .title .skinny {
    color: white;
    font-size: 46px;
    font-size: 10vw;
    letter-spacing: 5px;
    text-shadow: 1px 0 black;
    font-family: 'Righteous', cursive;
  }

  .User {
    align-items: flex-start;
    justify-self: flex-start;
  }
}

/* Main */
.Main {
  width: 100%;
  height: 100%;
  background-image:
    linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(0, 0, 0, 0.73)),
    url("./img/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* User */
.User {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
  border: 1px solid #ebebeb;
}

.User .logo img {
  width: 50px;
  border-radius: 50%;
  border: 1px solid #000;
}

.User .info p {
  font-size: 1.1rem;
  font-weight: bold;
}

.User .info a {
  text-decoration: none;
  display: flex;
  justify-content: flex-end;
}

.Modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  z-index: 100;
}

.Modal .container {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -25%);
  background: white;
}

.AddNewBook {
  border-bottom: 1px solid #ebebeb;
}

.AddNewBook .btn {
  padding: 1rem;
  width: 100%;
  height: 70px;
}

.AddNewBook .btn button {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 3px;
  background-color: #0080ff;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.AddNewBook .btn button:hover {
  filter: brightness(1.1);
  transition: all 300ms ease;
}

.BookForm {
  padding: 1rem 1rem calc(1rem + 40px) 1rem;
  width: 100%;
  background: white;
  border-radius: 4px;
}

.BookForm .text input {
  padding: 1rem;
  width: 100%;
  margin-bottom: 0.5rem;
  border: none;
  font-size: 1.2rem;
}

.BookForm .text input:focus {
  outline: none;
  border-bottom: 1px solid #0080ff;
}

.BookForm .remind {
  display: flex;
  align-items: center;
  padding: 0.5rem;
}

.BookForm p {
  margin-left: 10px;
}

.BookForm .title {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.BookForm .pick-day {
  padding: 1.5rem 1.5rem 0 1.5rem;
}

.BookForm .pick-time {
  padding: 1.5rem;
}

.BookForm .pick-category {
  padding: 0.5rem;
}

.BookForm .pick-category .categories {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 1rem 0 1rem;
}

.BookForm .pick-category .categories .category {
  border: 1px solid #0080ff;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  cursor: pointer;
}

.BookForm .pick-category .categories .active {
  background: #0080ff;
  color: white;
}

.BookForm .cancel {
  position: absolute;
  top: 0;
  right: 5px;
  cursor: pointer;
}

.BookForm .confirm {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.BookForm .confirm button {
  width: 100%;
  height: 40px;
  background: #0080ff;
  color: white;
  font-size: 1.1rem;
  border: none;
  border-radius: 0 0 4px 4px;
  cursor: pointer;
}

.Calendar {
  padding: 1rem;
  border-bottom: 1px solid #ebebeb;
}

.Calendar .header {
  display: flex;
  align-items: center;
}

.Calendar .header .title {
  display: flex;
  align-items: center;
  flex: 1;
}

.Calendar .header .title p {
  margin-left: 5px;
  font-size: 1.1rem;
  font-weight: bold;
}

.Calendar .header .btns span {
  border-radius: 50%;
  cursor: pointer;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Calendar .header .btns span:hover {
  background-color: #ebebeb;
  transition: all 300ms ease-in-out;
}

.Calendar .items .item {
  padding: 0.25rem;
  margin: 5px;
  font-size: 1rem;
  cursor: pointer;
}

.Categories {
  padding: 1rem;
  border-bottom: 1px solid #ebebeb;
}

.Categories .header {
  display: flex;
  align-items: center;
}

.Categories .header .title {
  display: flex;
  align-items: center;
  flex: 1;
}

.Categories .header .title p {
  margin-left: 5px;
  font-size: 1.1rem;
  font-weight: bold;
}

.Categories .header .btns {
  display: flex;
  align-items: center;
}

.Categories .header .btns span .edit {
  margin-right: 5px;
}

.Categories .header .btns span {
  border-radius: 50%;
  cursor: pointer;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Categories .header .btns span:hover {
  background-color: #ebebeb;
  transition: all 300ms ease-in-out;
}

.Categories .items {
  padding: 0.5rem;
}

.Category {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0.25rem;
  margin: 5px;
  font-size: 1rem;
}

.Category .name {
  cursor: pointer;
  word-break: break-all;
}

.Category .btns {
  display: flex;
  align-items: center;
}

.Category .btns .total-books {
  position: absolute;
  right: 0;
  bottom: 0;
  background: #ebebeb;
  width: 25px;
  height: 25px;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.Category .btns .edit-delete {
  position: absolute;
  right: 0;
  display: flex;
}

.Category .btns .edit-delete span {
  border-radius: 50%;
  cursor: pointer;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 300ms ease-in-out;
}

.Category .btns .edit-delete span.edit:hover {
  background: #acffac;
}

.Category .btns .edit-delete span.delete:hover {
  background: #ffacac;
}

.AddNewCategory .add-button span {
  margin-right: 5px;
}

.CategoryForm {
  background-color: white;
  padding: 1rem;
  border-radius: 4px;
  position: relative;
  padding-bottom: 40px;
}

.CategoryForm input {
  width: 100%;
  height: 40px;
  margin: 15px 0;
  border: none;
  font-size: 1.2rem;
}

.CategoryForm input:focus {
  outline: none;
  border-bottom: 1px solid #0080ff;
}

.CategoryForm button {
  position: absolute;
  bottom: 0;
  height: 40px;
  width: 50%;
  border: none;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: 300s ease-in-out;
}

.CategoryForm button.cancel {
  left: 0;
  background-color: #bebebe;
}

.CategoryForm button.confirm {
  right: 0;
  background-color: #0080ff;
}

.CategoryForm button:hover {
  filter: brightness(1.1);
}

.Books {
  width: 450px;
  height: 80%;
  background-color: white;
  position: absolute;
  bottom: 40px;
  left: 40px;
  border-radius: 4px;
  opacity: 0.9;
  padding: 0 0.5rem 0.5rem 0.5rem;
  overflow-y: auto;
}

.Books .searchBar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}

.Books .searchBar input {
  text-align: center;
  width: 20rem;
  background: #F2F1F9;
  border: none;
  padding: 0.5rem
}

@media(max-width: 750px) {

  .Books {
    max-width: 85%;
    width: 85vh;
    max-height: 75%;
    height: 80vh;
    background-color: white;
    position: absolute;
    bottom: 40px;
    left: 40px;
    border-radius: 4px;
    opacity: 0.9;
    padding: 0 0.5rem 0.5rem 0.5rem;
    overflow-y: auto;
  }

}

.Books .selected-category {
  margin: 1rem 0;
  text-transform: capitalize;
  font-size: 1.2rem;
  font-weight: bold;
  padding-bottom: 2px;
  border-bottom: 1px solid #eeeeee;
}

.Books .books {
  overflow: auto;
}

.Book {
  padding: 0.5rem 1rem;
}

.Book .book-container {
  display: flex;
  align-items: center;
}

.Book .book-container span {
  cursor: pointer;
}

.Book .book-container .text {
  position: relative;
  flex: 1;
  margin: 0 10px;
  cursor: pointer;
}

.Book .book-container .text span {
  font-size: 0.8rem;
  color: #bebebe;
}

.Book .book-container .text .line {
  height: 1px;
  background: #bebebe;
  position: absolute;
  top: 25%;
  width: 0;
  transition: width 250ms ease-in-out;
}

.Book .book-container .text .line-trough {
  width: 100%;
}

.Book .book-container .add-to-next-day {
  margin-right: 10px;
}

.EditBooks {
  position: absolute;
  bottom: 40px;
  left: calc(40px + 450px + 40px);
  background: white;
  height: 80%;
  width: 450px;
  border-radius: 4px;
  opacity: 0.9;
}

.EditBooks .header {
  margin: 1rem 0.5rem;
  font-size: 1.2rem;
  font-weight: bold;
  padding-bottom: 2px;
  border-bottom: 1px solid #eeeeee;
}

.Last7Days .day {
  margin: 5px;
  display: flex;
}

.Last7Days .day .name {
  font-weight: bold;
  font-size: 1rem;
}

.Last7Days .day .total-books {
  margin-left: 10px;
}